.banner {
  color: white;
  text-align: center;
  min-height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-inscription{
  padding-top: 100px;
}
.content h1 {
  padding-top: 90px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-recruiter {
  padding: 10px 15px;
  color: #34495E;
  font-weight: bolder;
  font-size: 20px;
  border: 1px solid #34495E;
  border-radius: 3px;
  transition: all 0.5s ease;
}
.btn-recruiter:hover {
  background-color: #1A2530;
  color: white;
  text-decoration: none;
}

.btn-candidate {
  padding: 10px 15px;
  color: #E74C3C;
  font-weight: bolder;
  font-size: 20px;
  border: 1px solid #E74C3C;
  border-radius: 3px;
  transition: all 0.5s ease;
}
.btn-candidate:hover {
  background-color: #C4363E;
  color: white;
  text-decoration: none;
}
