table {
   background: #fff;
}
.tableau-offer table,thead,tbody,tfoot,tr, td,th {
  margin: auto;
  padding: 1rem;
  justify-content: space-between;
}
.column-1 {
  width: 20%;
}
.wrapper {
  height: 100vh;
  width: 100%;
  background: #dedede;
  text-align: center;
}
.head-fixed {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 0;
  top: 40px;
  background-color: grey;
}
.offers-body {
  margin-top: 79px;
  display: block;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.vw {
  width: 100vw;
}
