<div class="wrapper-message">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <% @messages.each do |message| %>
          <p><%= message.content %></p>
        <% end %>
      </div>
    </div>


<!-- regarder les roots de l'action create de message, il nous faut les id de job_offer et job_application dans l'ordre, et @new_message (action messages#create)-->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <%= simple_form_for [@job_offer, @job_application, @new_message] do |f| %>
          <%= f.input :content %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>


