<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>You are <%= @candidate.first_name + " " + @candidate.last_name %> </h2>
      <p> Phone number : <%= @candidate.phone_number %></p>
    </div>
  </div>
</div>
