<div class="wrapper">
  <div class="container">
    <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#TableModal">
    Créer une offre
  </button>
    <div class="row">
<!--       <div class="col-xs-4"> -->
        <div class="tableau-offer">
          <table>
            <thead>
              <tr>
                <!-- <th><#%= @organizations.name %></th> -->
                <th>l'Oréal</th>
                <<th>Offers</th>
                <th>Candidates</th>
                <th>Contacted</th>
                <th>Average fit</th>
              </tr>
            </thead>
            <tbody>
              <% @job_offers.each do |offer| %>
                <tr>
                  <td class="column-1"><%= offer.description %></td>
                  <td>12</td>
                  <td>1500</td>
                  <td>50</td>
                  <td>75%</td>
                    <!-- Modal -->
                    <div class="modal fade" id="TableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">title</h4>
                          </div>
                          <div class="modal-body">
                            <%= simple_form_for([ @job_offer ]) do |form| %>
                              <%= form.input :description %>
                              <%= form.button :submit %>
                          <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <%end%>
                </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
