<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
          <table>
            <thead>
              <tr>
                <!-- <th><#%= @organizations.name %></th> -->
                <th>LVMH</th>
                <th>Offers</th>
                <th>Contacted</th>
                <th>Average fit</th>
              </tr>
            </thead>
            <% @job_offers.each do |offer| %>
            <tbody>
              <tr>
                <td><%= offer.description %></td>
                <td><%#= offer. %></td>
                <td><%#= offer. %></td>
                <td><%#= offer. %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
        <%= link_to "créer une offre d'emploi", new_job_offer_path, class: "btn btn-primary"  %>
      </div>
    </div>
  </div>
</div>

