<!-- NAVBAR FOR CANDIDATES (managing their past applications) -->
<div class="navbar-higher"></div><!-- spacer to compensate the 'fixed navbar offset' -->
<div class="navbar-higher-funnel navbar-higher-fixed">

  <!-- Logo Recruiter / relative<=>absolute to navbar-higher-funnel -->
  <%= link_to 'job_offers#index', class: "navbar-higher-brand-recruiter" do %>
    <%= image_tag "LOreal_white_vector.png" %>
  <%end %>

  <!-- Logo Higher / relative<=>absolute to navbar-higher-funnel -->
  <%= link_to 'job_offers#index', class: "navbar-higher-brand" do %>
    <%= image_tag "name-logo-small.png" %>
  <%end %>


</div> <!-- end of navbar for candidates -->
