<!-- NAVBAR FOR VISITORS -->
<div class="navbar-higher"></div> <!-- spacer to compensate the 'fixed navbar offset' -->
<div class="navbar-higher navbar-higher-fixed blue-bottom-border">

  <!-- Logo -->
  <%= link_to '#', class: "navbar-higher-brand" do %>
    <%= image_tag "name-logo-small.png" %>
  <%end %>

  <div class="navbar-content-visitor">
    <p>The superior way to hire</p>
  </div>

  <!-- Jobs links & about -->
  <div>
    <%= link_to "connect as recruiter", job_offers_path, class: "btn btn-primary", id: "btn-recruiter" %>
    <%= link_to "connect as candidate", new_candidate_session_path, class: "btn btn-primary", id: "btn-candidate" %>
  </div>



</div> <!-- end of navbar -->



