// Separation between candidate info and his applications

.line {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid $gray-lighter;
}

//  Padding underneath title candidate#show

#padding-title {
  margin-bottom: 20px;
}

.glyphicon-flash {
  color: $gray-lighter;
}

.glyphicon-user {
  font-size: 22px;
  color: $gray-lighter;
  &:hover {
    color: white;
  }
}

.glyphicon-flag {
  color: $gray-lighter;
  &:hover {
    color: white;
  }
}

.fa-comments {
  color: $gray-lighter;
  &:hover {
    color: white;
  }
}

.btn-show-application:hover {
  .glyphicon-flash {
      color: $yellow;
  }
}

// On the devise forms

.higher-logo-margin {
  margin-top: 50px;
}

.form-control {
  border-radius: 5px;
}

.links-form a {
  color: $black;
  opacity: 0.8;
  &:hover {
  opacity: 1;
  }
}
